[submodule "lang_samples/erlang-recon/source"]
	path = lang_samples/erlang-recon/source
	url = https://github.com/ferd/recon.git
[submodule "lang_samples/clojure-hiccup/source"]
	path = lang_samples/clojure-hiccup/source
	url = https://github.com/weavejester/hiccup.git
[submodule "lang_samples/prolog-marelle/source"]
	path = lang_samples/prolog-marelle/source
	url = https://github.com/larsyencken/marelle.git
[submodule "lang_samples/haskell-tetris/source"]
	path = lang_samples/haskell-tetris/source
	url = https://github.com/samtay/tetris.git
[submodule "lang_samples/java-commons-lang/source"]
	path = lang_samples/java-commons-lang/source
	url = https://github.com/apache/commons-lang.git
[submodule "lang_samples/java-joda-time/source"]
	path = lang_samples/java-joda-time/source
	url = https://github.com/JodaOrg/joda-time.git
[submodule "lang_samples/java-gson/source"]
	path = lang_samples/java-gson/source
	url = https://github.com/google/gson.git
